<!doctype html>
<!--[if IE 7]><html lang="ko" class="old ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="old ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="modern ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ko" class="modern"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>layout</title>
<!--[if lt IE 9]>
<script type="text/javascript" src="../../common/html5.js"></script>
<![endif]-->
</head>

<body>
  
<!-- wrap -->
<div id="wrap">		
	<!-- header -->
  <header id="header">  	
    <!-- 로고 -->    
    <h1><a href="#">로고</a></h1>  
    <!-- gnb  -->
    <div class="gnb">
      <h3>Global navigation</h3>
      <ul>
        <li><a href="#href">gnb1</a></li>
        <li><a href="#href">gnb2</a></li>
        <li><a href="#href">gnb3</a></li>
        <li><a href="#href">gnb4</a></li>
        <li><a href="#href">gnb5</a></li>
      </ul>
    </div>
    <!-- //gnb -->  
    <!-- utility -->
    <div class="utility">
      <h3>Utiltity menu</h3>
      <ul>
        <li><a href="#href">utility1</a></li>
        <li><a href="#href">utility2</a></li>
        <li><a href="#href">utility3</a></li>
      </ul>
    </div>
    <!-- //utility -->
  </header>
  <!-- //header -->	
  
  <!-- container -->
  <div id="container">
  	
    <!-- 좌측: Side Navigation Area -->
  	<div id="snb">
      <h3>Side Navigation</h3>
      <ul>
        <li><a href="#href">snb1</a></li>
        <li><a href="#href">snb2</a></li>
        <li><a href="#href">snb3</a></li>
        <li><a href="#href">snb4</a></li>
        <li><a href="#href">snb5</a></li>
      </ul>
    </div>
    <!-- 좌측 --> 
   	
    <!-- 본문 -->
    <div id="contents">
      <div class="breadcrumb">
        <h3>breadcrumb</h3>
      </div>
      <div class="detail">
        <h3>deatail contents</h3>
      </div>
		</div>
    <!-- //본문 -->
    
  </div><!-- //container -->   
</div><!-- //wrap --> 

<!-- footer  -->
<footer id="footer">
	<div class="footerArea">
    <h5>관련 링크</h5>
  	<ul class="link">
      <li><a href="#">link1</a></li>
      <li><a href="#">link2</a></li>
      <li><a href="#">link3</a></li>
      <li><a href="#">link4</a></li>
      <li><a href="#">link5</a></li>
    </ul>
    <address>
    	<p>153-787 서울시 금천구 가산동 371-50  에이스하이엔드타워 3차 13층</p>
      <p>COPYRIGHT(C) 2012 KOREAN STANDARDS ASSOCIATION . ALL RIGHT RESERVED</p>
    </address>
    <h5>관련 기관</h5>
    <ul class="credit">
    	<li><a href="#">인적자원개발우수기관</a></li>
      <li><a href="#">써트보안인증사이트</a></li>
      <li><a href="#">보안서버 인증마크</a></li>
      <li><a href="#">e러닝전문기관 인증</a></li>
    </ul>
  </div>  
</footer>
<!-- //footer  -->
</body>
</html>
