<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ko" class="modern no-js"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Navigation</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" type="text/css" href="navigation.css">
	<!--[if lt IE 9]> <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
</head>
<body>

<div class="wrapper">
	<nav class="nav-main">
		<h2 class="blind">Main Menu</h2>
		<ul class="menu-main">
			<li class="item-menu"><a href="#href" class="link-menu">Menu1</a>
				<ul class="menu-main-dep">
					<li class="item-menu-dep"><a href="#href" class="link-menu-dep">Menu11</a></li>
					<li class="item-menu-dep"><a href="#href" class="link-menu-dep">Menu12</a></li>
					<li class="item-menu-dep"><a href="#href" class="link-menu-dep">Menu13</a></li>
				</ul>
			</li>
			<li class="item-menu"><a href="#href" class="link-menu">Menu2</a></li>
			<li class="item-menu"><a href="#href" class="link-menu">Menu3</a></li>
			<li class="item-menu"><a href="#href" class="link-menu">Menu4</a></li>
			<li class="item-menu"><a href="#href" class="link-menu">Menu5</a></li>
		</ul>
	</nav>
	<section class="contents-main">
		<h2 class="blind">Main Contents</h2>
		<div class="panel">
			<div class="component component-menu1">
				<h3 class="blind">Menu1 Components</h3>
				<div class="component-detail">component-detail</div>
			</div>
		</div>

		
	</section>	
</div>		
<!-- DATA -->
<!-- <script type="text/javascript" src="navigation-data.js"></script> -->
<!-- pure javacript -->
<!-- <script type="text/javascript" src="navigation-js.js"></script> -->
<!-- jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>	
<script type="text/javascript" src="navigation-jq.js"></script> 
</body>
</html>
