<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Slider</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="robots" content="noindex,nofollow">
	<meta name="googlebot" content="noindex,nofollow">
	<link rel="stylesheet" type="text/css" href="slider.css">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../../common/html5.js"></script>
	<![endif]-->
</head>
<body>

<h2>Sample Site</h2>
<div>http://bxslider.com/examples</div>

<div class="wrap">
	<h2 class="h2-1">Slider</h2>
	<h3 class="h3-1">Component-1</h3>
	<div id="compo1" class="slider compo1__slider" data-current="0" data-auto="false">
		<ul id="compo1__sliderVr" class="slider-vr">
			<li class="slider-vr-item" data-idx="0"><a href="#href" class="slider-vr-lnk">사진1</a></li>
			<li class="slider-vr-item" data-idx="1"><a href="#href" class="slider-vr-lnk">사진2</a></li>
			<li class="slider-vr-item" data-idx="2"><a href="#href" class="slider-vr-lnk">사진3</a></li>
			<li class="slider-vr-item" data-idx="3"><a href="#href" class="slider-vr-lnk">사진4</a></li>
			<li class="slider-vr-item" data-idx="4"><a href="#href" class="slider-vr-lnk">사진5</a></li>
			<li class="slider-vr-item" data-idx="5"><a href="#href" class="slider-vr-lnk">사진6</a></li>
		</ul>
		<div id="compo1__sliderPager" class="slider-pager">
			<div class="slider-pager-item" data-idx="0"><a href="#href" class="slider-pager-lnk">1</a></div>
			<div class="slider-pager-item" data-idx="1"><a href="#href" class="slider-pager-lnk">2</a></div>
			<div class="slider-pager-item" data-idx="2"><a href="#href" class="slider-pager-lnk">3</a></div>
			<div class="slider-pager-item" data-idx="3"><a href="#href" class="slider-pager-lnk">4</a></div>
			<div class="slider-pager-item" data-idx="4"><a href="#href" class="slider-pager-lnk">5</a></div>
			<div class="slider-pager-item" data-idx="5"><a href="#href" class="slider-pager-lnk">6</a></div>
		</div>
		<div class="slider-direction">
			<button id="compo1__sliderBtnPrev" class="slider-btn-prev">이전</button>
			<button id="compo1__sliderBtnNext" class="slider-btn-next">다음</button>
		</div>
		<div class="slider-auto">
			<button id="compo1__sliderBtnPlay" class="slider-btn-play">재생</button>
			<button id="compo1__sliderBtnPause" class="slider-btn-pause">정지</button>
		</div>
	</div>
		
</div>		

<!-- javacript -->
<script>
	var isOldIE = false; 
</script>
<!--[if lt IE 9]>
	<script> isOldIE = true; </script>
<![endif]-->
<script type="text/javascript" src="slider.js"></script>
<!-- //javacript -->


</body>
</html>
