@mixin clearfix {
	&:after {
		content : '';
		display : block;
		visibility:  hidden;
		clear : both;
		height : 0;
	}
}

/* base */
a {
	color : #111;
	text-decoration: none;
	&:hover {
		color : #111;
	}
}
.wrap {
	margin: 1em;
}
.h2-1 {
	margin-top:2em; margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #ccc;
}
.h3-1 {
	padding : 0.3em 0 0.3em 1em;
	border-left : solid 2px green;
	vertical-align: middle;
}

/* lst */
.ol-lst1 {
	padding-left: 1em;
	line-height: 1.3em;
}

/* tabs */
.tabs {
	overflow: hidden;
	clear: both;
	position: relative;
	margin: 0;
}
.tabs-lst {
	padding : 0;
}
.tabs-item {
	float: left;
	margin : 0; 
	box-sizing : border-box;
	list-style: none;
	}	
.tabs-item-a{
	display : block;
}
.tabs-cnts {
	display: none;
	position: absolute; 
	width: 100%;
}
.tabs-btn-next {
	right: 0.5em;
}
.tabs-auto {
	float: right;
	margin-top: 0.3em;
}
.tabs-auto {
	@include clearfix;
}

/* tabs > js */
.tabs {
	&[data-play="false"] .tabs-btn-pause,
	&[data-play="true"] .tabs-btn-play,
	&[data-play="pause"] .tabs-btn-pause,
	&[data-play="pause"] .tabs-btn-play { display: none; }
	@for $i from 0 through 4 {
		&[data-current="#{$i}"] .tabs-cnts[data-idx="#{$i}"] { display: block; }
	}
}

/* tabs > news__tabs */ 
.news__tabs {
	height : 10em;
	.tabs-item {
		width : 20%;
		text-align : center;
		&:not(:first-child){
			border-left: solid 1px #ccc;
		}
	}
	.tabs-item-a {
		padding-top:0.2rem;
	}
	.tabs-cnts {
		top:1.5em; 
	}
	@for $i from 0 through 4 {
		&[data-current="#{$i}"] .tabs-item[data-idx="#{$i}"] .tabs-item-a { color : green; }
	}
}

/* compo2__tabs */
.compo2__tabs {
	.tabs-lst {
		overflow: hidden;
		margin : 0 0 0 -1px;
	}
	.tabs-item {
		width: 16.666666%;
		background-color : #f9f9f9;
	}
	.tabs-item-a {
		padding-top: 0.5em; padding-bottom: 0.2em;
		text-align: center;
	}
	.tabs-panel {
		display: table;
		width: 100%; height : 5em;
		padding : 0.5em;
		box-sizing : border-box;
		border: solid 1px #f1f1f1;
	}
	.tabs-panel-item {
		display: none;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		h6 {
			margin:1em;
		}
	}
	.tabs-direction {
		float: left;
		margin-top: 0.3em;
	}
	.tabs-auto {
		float: right;
	} 
	$len : 5;
	@for $i from 0 through $len {
		&[data-current="#{$i}"] .tabs-item[data-idx="#{$i}"] .tabs-item-a {
			font-weight: bold; color: green;
		}
	}
	@for $i from 0 through $len {
		&[data-current="#{$i}"] .tabs-panel-item[data-idx="#{$i}"] { 
			display: table-cell; 
		}
	}
}

/* slider */
.slider {
	overflow: hidden;
	clear:both;
	position: relative;
	margin-bottom : 3em;
}
.slider-panel {
	position: relative;
	height : 100px;
	margin:0 0 0.5em; padding :0;
}
.slider-panel-item {
	float:left;
	height : 100%;
	list-style : none;
	box-sizing : border-box;
	border : solid 1px #ccc;
}
.slider-panel-a {
	display: block;
	height: 100%;
}
.slider-direction {
}
.slider-btn-prev {
	position: absolute; top:40px; left: 0.5em;
}
.slider-btn-next {
	position: absolute; top:40px; right : 0.5em;
}
.slider-pager {
	clear: both;
	float: left;
	margin : 0; padding : 0;
}
.slider-pager-item {
	display: inline-block;
}
.slider-pager-a {
	display: block;
	padding : 0.2em 0.5em;
	font-size: 0.7em;
}
.slider-auto {
	float : right;
}

/* slider > js */
.slider {
	&[data-play="false"] .slider-btn-pause,
	&[data-play="true"] .slider-btn-play { display : none; }
	@for $i from 0 through 5 {
		&[data-current="#{$i}"] .slider-pager-item[data-idx="#{$i}"] { 
			background-color: green; 
		}
	}
}

/* compo3__slider */
.compo3__slider {
	$width : 300px;
	$len : 6;

	width : $width;
	.slider-panel-item {
		width : $width;
	}
	.slider-panel {
		width : 100% * $len;
	}
}

/* compo4__slider */
.compo4__slider {
	$len : 6;

	.slider-panel {
		width : 100% * $len;
	}
	.slider-panel-item {
		width : 100% / $len;
	}
}

/* compo5__slider */
.compo5__slider {
	.slider-direction {
		float: left;
	}
	.slider-pager {
		float: left;
		margin-right: 0.5em;
	}
	.slider-pager-current,
	.slider-pager-total {
		display: inline-block;
	}
	.slider-pager-current,
	.slider-pager-total {
		display: inline-block;
	}
	.slider-btn-prev,
	.slider-btn-next {
		display: inline-block;
		position: static;
	}
}

/* compo6__slider */
.compo6__slider {
	$len : 6; 
	$nth : 2;
	$unit : 100% / $len;
	height: 130px;
	.slider-panel {
		position: relative;
		width : 100% * $len; height : 100px;
		margin: 0; padding : 0;
		box-sizing : border-box;
		background-color: #f9f9f9;
	}
	.slider-panel-item {
		float: left;
		width : $unit / $nth ; height: 100%;
		box-sizing : border-box; border: solid 1px #f1f1f1;
		vertical-align: middle; text-align: center;
	}
	.slider-panel-item h6 {
		margin:1em;
	}
	.slider-direction {
		float: left;
		margin-top: 0.3em;
	}
	.slider-btn-prev,
	.slider-btn-next {
		position: static;
	}
	.slider-auto {
		margin-top: 0.3em;
	}
	$len : $len - 1;
	@for $i from 0 through $len {
		&[data-current="#{$i}"] .slider-item[data-idx="#{$i}"] .slider-item-a {
			font-weight: bold; color: green;
		}
	}
}













