@CHARSET "utf-8";

@import '_module.scss';

// mixin
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transitionDuration($time:0.5s){
	-webkit-transition-duration : $time; 
	-moz-transition-duration : $time; 
	-o-transition-duration : $time; 
	transition-duration : $time;
}
@mixin tarnslate3d($x, $y, $z){
	-webkit-transform : translate3d($x, $y, $z);
	-moz-transform : translate3d($x, $y, $z);
	-o-transform : translate3d($x, $y, $z);
	transform : translate3d($x, $y, $z);
}

/* slider */
.slider-panel {
	@include transitionDuration();
}
.slider-pager-item {
	@include borderRadius(50%);
}

/* compo3__slider */
.compo3__slider {
	$len : 6;
	&{
		$len : $len - 1;
		@for $i from 0 through $len {
			&[data-current="#{$i}"] .slider-panel { 
				@include tarnslate3d(-16.666666% * $i, 0px, 0px); 
			}
		}
	}	
}

/* compo4__slider */
.compo4__slider {
	$len : 6;
	$len : $len - 1;
	&{
		@for $i from 0 through $len {
			&[data-current="#{$i}"] .slider-panel { 
				@include tarnslate3d(-16.666666% * $i, 0px, 0px); 
			}
		}
	}
}

/* compo6__slider */
.compo6__slider {
	$len : 6; 
	$nth : 2;
	$unit : 100% / $len;
	$len : $len - 1;
	&{
		@for $i from 0 through $len {
			$val : floor($i/$nth);
			&[data-current="#{$i}"] .slider-panel  {
				@include tarnslate3d( -($unit * $val), 0px, 0px ); 
			}
		}
	}
}




