@charset "utf-8";

a {
	color : #111;
	text-decoration: none;
}
a:hover {
	color : #111;
}
.wrap {
	margin: 1em;
}
.h2-1 {
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #ccc;
}
.h3-1 {
	padding : 0.3em 0 0.3em 1em;
	border-left : solid 2px #a94442;
	vertical-align: middle;
}
.btn {
	display: inline-block;
}

/* lst */
.ol-lst1 {
	line-height: 1.3em;
}


/* tabs */
.tabs {
	overflow: hidden;
	clear: both;
	position: relative;
	margin: 0;
}
.tabs-item {
	float: left;
	box-sizing : border-box;
	margin : 0;
	}	
.tabs-item-lnk{
	display : block;
}
.tabs-cnts {
	display: none;
	position: absolute; 
	width: 100%;
}
/* tabs > js */
.tabs[data-current="0"] .tabs-cnts[data-idx="0"],
.tabs[data-current="1"] .tabs-cnts[data-idx="1"],
.tabs[data-current="2"] .tabs-cnts[data-idx="2"],
.tabs[data-current="3"] .tabs-cnts[data-idx="3"],
.tabs[data-current="4"] .tabs-cnts[data-idx="4"] {display: block;}

/* tabs > news__tabs */ 
.news__tabs {
	height : 10em;
}
.news__tabs .tabs-item {
	width : 20%;
	text-align : center;
	}
	.news__tabs .tabs-item:not(:first-child){
		border-left: solid 1px #ccc;
	}
.news__tabs .tabs-item-lnk {
	padding-top:0.2rem;
}
.news__tabs .tabs-cnts {
	top:1.5em; 
}
.news__tabs[data-current="0"] .tabs-item[data-idx="0"] .tabs-item-lnk,
.news__tabs[data-current="1"] .tabs-item[data-idx="1"] .tabs-item-lnk,
.news__tabs[data-current="2"] .tabs-item[data-idx="2"] .tabs-item-lnk,
.news__tabs[data-current="3"] .tabs-item[data-idx="3"] .tabs-item-lnk,
.news__tabs[data-current="4"] .tabs-item[data-idx="4"] .tabs-item-lnk {
	color : #a94442;
}

/* tabs > srchId */
.srchId__tabs {
	height: 5em;
}
.srchId__tabs .tabs-item {
	margin-right : 1em;
}
.srchId__tabs .tabs-cnts {
	top : 2em;
}

/* tabs > season */ 
.season__tabs {
	height: 12em;
}
.season__tabs .tabs-cnts {
	top: 2em; right: 3em; left: 3em;
	width: auto; height: 8em;
	text-align: center;
	background-color: #ccc;
	line-height: 8em;
}
.season__tabs .tabs-item {
	width:25%;
	text-align: center;
}
.season__tabs .tabs-item-lnk {
	padding : 0.3em 0;
}
.season__tabs .tabs-btn-prev,
.season__tabs .tabs-btn-next {
	position: absolute;
	top:45%;
}
.season__tabs .tabs-btn-prev {
	left: 0;
}
.season__tabs .tabs-btn-next {
	right: 0;
}
.season__tabs .tabs-btns-playPause {
	clear: both;
	position: absolute; bottom: 0;
	width: 100%;
	text-align: center;
}
.season__tabs .tabs-btn-pause,
.season__tabs .tabs-btn-play {
	display: none;
}
.season__tabs[data-current="0"] .tabs-item[data-idx="0"] .tabs-item-lnk,
.season__tabs[data-current="1"] .tabs-item[data-idx="1"] .tabs-item-lnk,
.season__tabs[data-current="2"] .tabs-item[data-idx="2"] .tabs-item-lnk,
.season__tabs[data-current="3"] .tabs-item[data-idx="3"] .tabs-item-lnk,
.season__tabs[data-current="4"] .tabs-item[data-idx="4"] .tabs-item-lnk {
	color : green;
}
.season__tabs[data-auto="true"] .tabs-btn-pause,
.season__tabs[data-auto="false"] .tabs-btn-play {
	display: inline-block;
}


/* menu */
.menu {
	clear: both;
	position:relative;
	height: 3em;
}
.menu-lst {
	overflow: hidden;
	margin: 0 40px; 
	padding: 0;
}
.menu-item {
	display: none;
	float:left;
	width: 33.3333333%; height: 2em;
	list-style: none;
	line-height: 2em;
	box-sizing : border-box;
	border : solid 1px #ccc;
}
.menu-lnk {
	display: block;
	text-align: center;
}
.menu-lnk:hover {
	background-color: #ccc;
}
.menu-btn-prev,
.menu-btn-next {
	position: absolute;
	top:0;
	height: 3em;
}
.menu-btn-prev {
	left: 0;
}
.menu-btn-next {
	right: 0;
}
.menu[data-current="0"] .menu-item[data-idx="0"],
.menu[data-current="0"] .menu-item[data-idx="1"],
.menu[data-current="0"] .menu-item[data-idx="2"],
.menu[data-current="3"] .menu-item[data-idx="3"],
.menu[data-current="3"] .menu-item[data-idx="4"],
.menu[data-current="3"] .menu-item[data-idx="5"],
.menu[data-current="6"] .menu-item[data-idx="6"],
.menu[data-current="6"] .menu-item[data-idx="7"],
.menu[data-current="6"] .menu-item[data-idx="8"],
.menu[data-current="9"] .menu-item[data-idx="9"],
.menu[data-current="9"] .menu-item[data-idx="10"],
.menu[data-current="9"] .menu-item[data-idx="11"],
.menu[data-current="12"] .menu-item[data-idx="12"],
.menu[data-current="12"] .menu-item[data-idx="13"],
.menu[data-current="12"] .menu-item[data-idx="14"] {
	display: block;
}

