<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Tabs Cotrol</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="robots" content="noindex,nofollow">
	<meta name="googlebot" content="noindex,nofollow">
	<link rel="stylesheet" type="text/css" href="tabsCtrl.css">
</head>
<body>

<div class="wrap">
	<h2 class="h2-1">Index Control</h2>
	<h3 class="h3-1">연령별 많이 본 뉴스</h3>
	<section id="news" class="tabs news__tabs" data-current="0">
		<h4 class="tabs-item" data-idx="0"><a href="#href" class="tabs-item-lnk">20대</a></h4>
		<div class="tabs-cnts" data-idx="0">
			<ol class="ol-lst1">
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">20대 이하가 많이 본 뉴스 1</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">20대 이하가 많이 본 뉴스 2</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">20대 이하가 많이 본 뉴스 3</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">20대 이하가 많이 본 뉴스 4</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">20대 이하가 많이 본 뉴스 5</a></li>
			</ol>
		</div>
		<h4 class="tabs-item" data-idx="1"><a href="#href" class="tabs-item-lnk">30대</a></h4>
		<div class="tabs-cnts" data-idx="1">
			<ol class="ol-lst1">
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">30대가 많이 본 뉴스 1</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">30대가 많이 본 뉴스 2</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">30대가 많이 본 뉴스 3</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">30대가 많이 본 뉴스 4</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">30대가 많이 본 뉴스 5</a></li>
			</ol>
		</div>
		<h4 class="tabs-item" data-idx="2"><a href="#href" class="tabs-item-lnk">40대</a></h4>
		<div class="tabs-cnts" data-idx="2">
			<ol class="ol-lst1">
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">40대가 많이 본 뉴스 1</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">40대가 많이 본 뉴스 2</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">40대가 많이 본 뉴스 3</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">40대가 많이 본 뉴스 4</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">40대가 많이 본 뉴스 5</a></li>
			</ol>
		</div>
		<h4 class="tabs-item" data-idx="3"><a href="#href" class="tabs-item-lnk">50대</a></h4>
		<div class="tabs-cnts" data-idx="3">
			<ol class="ol-lst1">
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">50대 이상이 많이 본 뉴스 1</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">50대 이상이 많이 본 뉴스 2</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">50대 이상이 많이 본 뉴스 3</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">50대 이상이 많이 본 뉴스 4</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">50대 이상이 많이 본 뉴스 5</a></li>
			</ol>
		</div>
		<h4 class="tabs-item" data-idx="4"><a href="#href" class="tabs-item-lnk">전체</a></h4>
		<div class="tabs-cnts" data-idx="4">
			<ol class="ol-lst1">
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">전체가 많이 본 뉴스 1</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">전체가 많이 본 뉴스 2</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">전체가 많이 본 뉴스 3</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">전체가 많이 본 뉴스 4</a></li>
				<li class="ol-lst1-item"><a href="#href" class="ol-lst1-lnk">전체가 많이 본 뉴스 5</a></li>
			</ol>
		</div>
	</section>

	<h3 class="h3-1">아이디 찾기</h3>
	<section id="srchId" class="tabs srchId__tabs" data-current="0">
		<h4 class="tabs-item">
			<input type="radio" name="srchId" id="srchId-1" data-idx="0" checked> <label for="srchId-1">휴대폰</label> 
		</h4>
		<div class="tabs-cnts" data-idx="0">회원가입 시 등록한 휴대폰 정보로 아이디를 찾을 수 있습니다.</div>
		<h4 class="tabs-item">
			<input type="radio" name="srchId" id="srchId-2" data-idx="1"> <label for="srchId-2"> 이메일</label> 
		</h4>
		<div class="tabs-cnts" data-idx="1">회원가입 시 등록한 이메일 정보로 아이디를 찾을 수 있습니다.</div>
		<h4 class="tabs-item">
			<input type="radio" name="srchId" id="srchId-3" data-idx="2"><label for="srchId-3"> 아이핀</label> 
		</h4>
		<div class="tabs-cnts" data-idx="2">아이핀으로 아이디를 찾을 수 있습니다.</div> 
	</section>

	<h3 class="h3-1">계절별 분류</h3>
	<section id="season" class="tabs season__tabs" data-current="0" data-auto="false">
		<h4 class="tabs-item" data-idx="0"><a href="#href" class="tabs-item-lnk">봄</a></h4>
		<div class="tabs-cnts" data-idx="0">봄 내용</div>
		<h4 class="tabs-item" data-idx="1"><a href="#href" class="tabs-item-lnk">여름</a></h4>
		<div class="tabs-cnts" data-idx="1">여름 내용</div>
		<h4 class="tabs-item" data-idx="2"><a href="#href" class="tabs-item-lnk">가을</a></h4>
		<div class="tabs-cnts" data-idx="2">가을 내용</div>
		<h4 class="tabs-item" data-idx="3"><a href="#href" class="tabs-item-lnk">겨울</a></h4>
		<div class="tabs-cnts" data-idx="3">겨울 내용</div>
		<button id="seasonBtnPrev" class="btn tabs-btn-prev" data-direction="prev">이전</button>
		<button id="seasonBtnNext" class="btn tabs-btn-next" data-direction="next">다음</button>
		<div class="tabs-btns-playPause">
			<button id="seasonBtnPause" class="btn tabs-btn-pause" data-control='pause'>일시 중지</button>
			<button id="seasonBtnPlay" class="btn tabs-btn-play" data-contorl='play'>재생</button>
		</div>
	</section>

	<h3 class="h3-1">3개씩 이동</h3>
	<section id="menu" class="menu" data-current="0">
		<ul class="menu-lst">
			<li class="menu-item" data-idx="0"><a href="#href" class="menu-lnk">메뉴1</a></li>
			<li class="menu-item" data-idx="1"><a href="#href" class="menu-lnk">메뉴2</a></li>
			<li class="menu-item" data-idx="2"><a href="#href" class="menu-lnk">메뉴3</a></li>
			<li class="menu-item" data-idx="3"><a href="#href" class="menu-lnk">메뉴4</a></li>
			<li class="menu-item" data-idx="4"><a href="#href" class="menu-lnk">메뉴5</a></li>
			<li class="menu-item" data-idx="5"><a href="#href" class="menu-lnk">메뉴6</a></li>
			<li class="menu-item" data-idx="6"><a href="#href" class="menu-lnk">메뉴7</a></li>
			<li class="menu-item" data-idx="7"><a href="#href" class="menu-lnk">메뉴8</a></li>
			<li class="menu-item" data-idx="8"><a href="#href" class="menu-lnk">메뉴9</a></li>
			<li class="menu-item" data-idx="9"><a href="#href" class="menu-lnk">메뉴10</a></li>
			<li class="menu-item" data-idx="10"><a href="#href" class="menu-lnk">메뉴11</a></li>
			<li class="menu-item" data-idx="11"><a href="#href" class="menu-lnk">메뉴12</a></li>
		</ul>
		<button id="menuBtnPrev" class="menu-btn-prev">이전</button>
		<button id="menuBtnNext" class="menu-btn-next">다음</button>
	</section>

</div>		

<!-- javacript -->
<script type="text/javascript" src="tabsCtrl.js"></script>

</body>
</html>
