<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ko" class="modern no-js"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Tab Contents</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" type="text/css" href="tab-contents-css.css">
	<!--[if lt IE 9]> <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
</head>
<body>

<div class="wrapper">
	<h2 class="blind">Tab Menu Contents</h2>
	<section class="tab-container">
		<h3 class="tab-nav tab-nav-life"><a href="#href" class="tab-nav-a"><span class="blind">라이프</span></a></h3>
		<div class="tab-cnts">			
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 라이프을 눌러주세요.</p>
		</div>	

		<h3 class="tab-nav tab-nav-sports"><a href="#href" class="tab-nav-a"><span class="blind">스포츠</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 스포츠을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-car"><a href="#href" class="tab-nav-a"><span class="blind">차/테크</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 차/테크을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-webtoon"><a href="#href" class="tab-nav-a"><span class="blind">웹툰</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 웹툰을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-game"><a href="#href" class="tab-nav-a"><span class="blind">게임</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 게임을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-tv"><a href="#href" class="tab-nav-a"><span class="blind">TV/동영상</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 TV/동영상을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-music"><a href="#href" class="tab-nav-a"><span class="blind">뮤직</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 영화를 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-moive"><a href="#href" class="tab-nav-a"><span class="blind">영화</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 영화를 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-book"><a href="#href" class="tab-nav-a"><span class="blind">책/공연</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 책/공연을 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-naver"><a href="#href" class="tab-nav-a"><span class="blind">네이버캐스트</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 네이버캐스트를 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-open"><a href="#href" class="tab-nav-a"><span class="blind">오픈캐스트</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 오픈캐스트를 눌러주세요.</p>
		</div>

		<h3 class="tab-nav tab-nav-public"><a href="#href" class="tab-nav-a"><span class="blind">공익/나눔</span></a></h3>
		<div class="tab-cnts">
			<p class="blind">내용을 가져오기 전입니다. 내용을 보실려면 공익/나눔을 눌러주세요.</p>
		</div>
	</section>	
</div>		
<!-- DATA -->
<script type="text/javascript" src="tab-contents-data.js"></script>
<!-- pure javacript -->
<script type="text/javascript" src="tab-contents-js.js"></script>
<!-- jQuery-->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>	
<script type="text/javascript" src="tab-contents-jq.js"></script>  -->
</body>
</html>
